<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>

        <link rel="stylesheet" href="/css/dashboard.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Alfa+Slab+One&family=Bebas+Neue&family=Black+Ops+One&family=Delicious+Handrawn&family=Montserrat:wght@600;700;800;900&family=Mouse+Memoirs&family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;300;500&display=swap"
            rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js'></script>
    </head>
<body>

<%- include('nav') %>

<div class="sideNav">
    <div style="text-align: center;">
        <div class="heading">
        Menu
        <i class="bi bi-menu-app Bi"></i>
    </div>
    <div class="list">
        <% if(type == "doctor"){ %>
            <div class="item" onclick="location.href='/doctor/rooms'">
                <i class="bi bi-hospital icon"></i>
                <span>Browse Hospitals</span>
            </div>
            <div class="item" onclick="location.href='/doctor/requests'">
                <i class="bi bi-question-circle icon"></i> 
                <span>Checkup Requests</span>
            </div>
            <div class="item" onclick="location.href='/doctor/patients'">
                <i class="bi bi-person-badge icon"></i> 
                <span>Your Patients</span>
            </div>
        <%}else if(type == "hospital"){%>
            <div class="item" onclick="location.href=('/hospital/edit')">
                <i class="bi bi-hospital icon"></i>
                <span>Edit Details</span>
            </div>
            <div class="item" onclick="location.href='/hospital/requests'">
                <i class="bi bi-question-circle icon"></i> 
                <span>Room Requests</span>
            </div>
        <%}else if(type == "patient" && subType == "patHome"){%>
            <div class="item" onclick="location.href=('/patient/')">
                <i class="bi bi-hospital icon" ></i>
                <span>Browse Doctors</span>
            </div>
        <%}else if(type == "patient" && subType == "bookDoc"){%>
            <div class="item" onclick="location.href=('/patient/')">
                <i class="bi bi-hospital icon"></i>
                <span>Browse Doctors</span>
            </div>
        <%}else if(type == "patient"){%>
            <div class="item" onclick="location.href=('/patient/chat')">
                <i class="bi bi-hospital icon" ></i>
                <span>Chat With Doctor</span>
            </div>
            <div class="item" onclick="location.href=('/patient/room')">
                <i class="bi bi-hospital icon" ></i>
                <span>Checkup Room Details</span>
            </div>
        <%}%>
    </div>
</div>
    <button class="logOut item" onclick="location.href=('/logout')">
        <i class="bi bi-door-open icon"></i>
        <span>Log out</span>
    </button>
</div>

<div class="mainContent" style="padding: 7vh 0 0 18vw;">
    <%if(subType == "roomBrowse"){%>
        <%- include('dashboard/browseHospitals') %>
    <%}else if(subType == "patHome"){%>
        <%- include('dashboard/browseDoctors') %>
    <%}else if(subType == "bookDoc"){%>
        <%- include('dashboard/bookDoctor') %>
    <%}else if(subType == "req"){%>
        <%- include('dashboard/patientRequests') %>
    <%}else if(subType == "patientsDisplay"){%>
        <%- include('dashboard/patients') %>
    <%}else if(subType == "roomBook"){%>
        <%- include('dashboard/roomBook') %>
    <%}else if(subType == "hospHome"){%>
        <%- include('dashboard/hospHome') %>
    <%}else if(subType == "hospRequests"){%>
        <%- include('dashboard/hospRequests') %>
    <%}else if(subType == "patHomeDoc"){%>
        <%- include('dashboard/patHomeDoc') %>
    <%}else if(subType == "editHosp"){%>
        <%- include('dashboard/editHosp') %>
    <%}else if(subType == "chat"){%>
        <%- include('dashboard/chat') %>
    <%}else if(subType == "noHospPat"){%>
        <style>
            .mainContent{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100vh;
                background-color: #B2D4EA;
            }
        </style>
        <h2>Your Doctor Has Not Chosen A Room For You Yet.</h2>
        <br>
        <h4>Ask Your Doctor To Do So And Also Ask The Timings For Appointment</h4>
    <%}else if(subType == "noHospDoc"){%>
        <style>
            .mainContent{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100vh;
                background-color: #B2D4EA;
            }
        </style>
        <h2>You Have Not Chosen A Room For This Patient Yet.</h2>
        <br>
        <h4>Do So And Also Ask Convey The Timings Appointment To Patient Through Chat</h4>
    <%}else{%>
        <style>
            .mainContent{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100vh;
                background-color: #B2D4EA;
            }
        </style>
        <h3>Choose action using sidepanel</h3>
    <%}%>
</div>

</body>
</html>